﻿@model StudentAdministrationSystem.Models.Subject

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Opret nyt fag</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <h4>Nyt Fag</h4>
            <hr />
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            <input type="submit" value="Create" />
    }

    <div>
        @Html.ActionLink("Tilbage til fag oversigten", "Index")
    </div>
</body>
</html>
