﻿@model IEnumerable<StudentAdministrationSystem.Models.Subject>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fag oversigt</title>
</head>
<body>
    <p>
        @Html.ActionLink("Opret nyt fag", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Detaljer", "Details", new { id=item.SubjectId }) 
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
