﻿@model IEnumerable<StudentAdministrationSystem.Models.Student>

<div id="studentList">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Detaljer", "Details", new { id = item.StudentId })
                    @Html.ActionLink("Tilmeld kursus", "Enroll", new { id = item.StudentId })
                </td>
            </tr>
        }
    </table>
</div>