﻿@model StudentAdministrationSystem.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Studerende</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
        </dl>
    </div>
    <div>
        <hr />
        <h4>Fag</h4>
        <ul>
            @foreach (var subject in Model.Subjects)
            {
                <li>@subject.Name</li>
            }
        </ul>
    </div>
    <p>
        @Html.ActionLink("Tilbage til oversigten", "Index")
    </p>
</body>
</html>
