﻿@model StudentAdministrationSystem.Models.EnrollStudentViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tilmelding gennemført</title>
</head>
<body>
    <div>
        <h4>Tilmelding gennemført</h4>
        <hr />
        <span>@Model.Student.Name er tilmeldt @Model.SelectedSubject.Name</span>
        @Html.ActionLink("Tilbage", "Details", new { id = Model.Student.StudentId})
    </div>
</body>
</html>
