﻿@model StudentAdministrationSystem.Models.EnrollStudentViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enroll</title>
</head>
<body>
    <div>
        <h4>Tilmeld studerende</h4>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Student.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Student.Name)
            </dd>
        </dl>
        <h3>Vælg Fag</h3>
        @if (Model.Subjects.Count > 0)
        {
            using (Html.BeginForm())
            {
                @Html.DropDownListFor(model => model.SelectedValue, new SelectList(Model.Subjects, "SubjectId", "Name"))
                @Html.HiddenFor(model => model.Student.StudentId)
                <br />
                <input type="submit" value="Tilmeld" />
            }
        } else
        {
            <h4>Der er ingen tilgængelige fag.</h4>
            @Html.ActionLink("Tilbage til oversigten", "Index")
        }
    </div>
</body>
</html>
