﻿@model IEnumerable<StudentAdministrationSystem.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Opret ny studerede", "Create")
    </p>

    @using (Html.BeginForm())
    {
        <input type="search" name="searchTerm" />
        <input type="submit" value="Søg på navn" />
    }

    @Html.Partial("_students", Model)
</body>
</html>
